:root{
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hero-text-color: #FFFFFF;
  --secondary-linc-color:#2196F3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-page-color:#FFFFFF;
  --secondary-page-color:#F5F4FA;
  --footer-color: #2F303A;
  --header-color: #FFFFFF;
  --button-color: #2196F3;
}
html{box-sizing: border-box;}
*,
*::before,
*::after {
  box-sizing: inherit;
padding: 0;
margin: 0;
}



body {
  color: var(--primary-text-color);
  background-color: var(--primary-page-color);
  font-family: roboto,sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  }

header{
  height: 80px;
 }

/* основной цвет стрвницы #E5E5E5
вторичный цвет страницы #F5F4FA
цвет хедера #FFFFFF
цвет футера #2F303A
цвет кнопки #2196F3 

основной цвет текста, цвет ссылок хедера #757575
текст заголовков, текст ссылок навигации хедера #212121
текст главного заголовка, текст цвета текста кнопки #FFFFFF
вторичнй цвет ссылок #2196F3
цвет текста ссылок футера rgba(255, 255, 255, 0.6)

*/
.container-header{
  display: flex;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
}
.main-nav{
  display: flex;
  align-items: center;
}
.logo {
  color: var(--secondary-linc-color);
  font-family: raleway,sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
   margin-right: 93px; 
  }

.logo-secondary {
  color: var(--title-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  margin-bottom: 94px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}
li{
  margin: 0;
  padding: 0;
 
}

/* header */
.link-nav {
  color: var(--title-text-color);
  font-family: Roboto,sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none; 
  padding-top: 32px; 
  padding-bottom: 32px;
  display: flex;
}

.nav-item:not(:last-child),
.contact-item:not(:last-child){
  margin-right: 50px;
}

.img
{
  margin: 0;
  padding: 0;
}

.link-nav:hover,
.link-nav:focus,
.link-contact:hover,
.link-contact:focus {
  color: var(--secondary-linc-color);
}

 .nav{
   display: flex;
   align-items : center;
  }
    
.nav-list{
  display: flex;
}

.contact-nav{
  display: flex;
  margin-left: auto;
  }
    
.link-contact {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.hero {
  background-color: var(--footer-color);
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.section-secondary {
  background-color: var(--secondary-page-color);
}

.section-title,
.section-secondary-title
 {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  }

.centre{
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-list:not(:last-child){
  margin-right: 30px;

}

.comands-wrapper{
  background-color: var(--primary-page-color);
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-advantages{padding-bottom: 0;}


.cards-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  box-sizing: border-box;
}

.cards-item{
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid #EEEEEE;
}

.cards-item:nth-child(3n){
  margin-right: 0;
  }

.cards-item:nth-last-child(-n+3){
  margin-bottom: 0;
}

.cards-title
 {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}

.cards-text{
  color: var(--primary-text-color);
}

.display-blok{display: block;
margin: 0;
padding: 0;}

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.feature-list{
  display: flex;
  margin: 0;
  padding: 0;
 }

.feature-list .title{
  color: var(--title-text-color);
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 10px;
  }

.button-primary{
  background-color: var(--button-color);
  color: var(--header-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}

.button-primary:hover,
.button-primary:focus
{
  background-color: var(--secondary-page-color);
  color: var(--title-text-color); 
}

.button{
  background-color: var(--secondary-page-color);
  color: var(--title-text-color); 
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
}

.button:hover,
.button:focus
{
  background-color: var(--button-color);
  color: var(--header-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter{display: flex ;
  justify-content: center;
  }

.button-list:not(:last-child)
{margin-right: 8px;}

.cards-list a{
  text-decoration: none;
  display: block;
}
.cards-wrapper{
  padding: 20px 24px;
}

/* footer */

.footer{
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
 }

.container-footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}

.logo-footer{
  color:var(--hero-text-color);
}

address{
  color: var(--hero-text-color);
  font-style: normal;
  margin-top: 20px;
 }

.link-footer{
  color: var(--footer-text-color);
  text-decoration: none;
}

.link-footer:hover,
.link-footer:focus {
  color: var(--secondary-linc-color);
}
.collor-address{color: var(--hero-text-color);}

.contact-footer :not(:last-child) 
{margin-bottom: 9px;}